$color-principal: rgb(225, 127, 212);
$color-principal-light: rgb(243, 170, 233);
$color-enlaces: rgb(68, 9, 125);
$color-borde-boton: rgb(203, 156, 250);
$color-fondo: rgb(218, 183, 250);
$color-fondo-botones: rgb(234, 212, 255);
$ancho-max: 1100px;
